@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--cyan: rgb(56, 196, 231);
	--green: rgb(58, 183, 110);
	--grass: rgb(182, 244, 143);
}

p,
span,
label,
h1,
h2,
h3,
h4,
h5,
h6 {
	-webkit-font-smoothing: antialiased !important;
	text-rendering: optimizeLegibility !important;
	-webkit-text-size-adjust: 100% !important;
}

html {
	scroll-behavior: smooth;
	background-color: #faf1f1;
}

html[class~='dark'] {
	background-color: #1b1b1b;
}

.fix-safari-tilt {
	-webkit-transform: translateZ(0);
}

#intro {
	background: radial-gradient(
		rgba(136, 181, 214, var(--intro-gradient-opacity)),
		#faf1f1
	);
}

html[class~='dark'] #intro {
	background: radial-gradient(
		rgba(136, 181, 214, var(--intro-gradient-opacity)),
		#1b1b1b
	);
}

#about-panel {
	background: linear-gradient(to bottom left, #000000, #2564eb62),
		url(https://grainy-gradients.vercel.app/noise.svg);
}

html[class~='dark'] #about-panel {
	background: linear-gradient(to bottom left, #ffffff, #2564eb62),
		url(https://grainy-gradients.vercel.app/noise.svg);
}

.spark-text {
	animation: spark-background-pan 3s linear infinite;
	background: linear-gradient(
		to right,
		var(--cyan),
		var(--green),
		var(--grass),
		var(--cyan)
	);
	background-size: 200%;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	white-space: nowrap;
	font-weight: bold;
}

/* grid + radius fade gradient inspired 99% by dub.sh homepage */
.grid-background {
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	display: flex;
	justify-content: center;
	pointer-events: none;
}

.grid-background:before {
	background: radial-gradient(
		circle,
		rgba(2, 0, 36, 0) 0,
		#fafafa 80%,
		#fafafa 100%
	);
	position: absolute;
	content: '';
	z-index: 2;
	width: 100%;
	height: 100%;
	top: 0;
}

.grid-background:after {
	content: '';
	background-image: url('/svg/grid.svg');
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	opacity: 0.8;
	filter: invert(1);
}

/* animation for sparkly text */
@keyframes spark-background-pan {
	from {
		background-position: 0% center;
	}

	to {
		background-position: -200% center;
	}
}

/* animation for wave effect on footer */
@keyframes flow {
	0% {
		background-position: 0;
	}
	100% {
		background-position: 1280px;
	}
}

/* style for "coffee" like reveal on contacts page */
@keyframes fluid-spin {
	0% {
		transform: translateY(0px);
		-webkit-transform: translateY(0px);
	}
	100% {
		transform: translateY(-900px) rotate(360deg);
		-webkit-transform: translateY(-900px) rotate(360deg);
	}
}
